.topic-details {

    background-color:var(--details-color);
    color:var(--details-text) ;
    font-size: 1em;
    font-weight: 700;
    
}

.topic-details, .sub-topics {

  padding-left:17%;
  padding-right: 17%;

}

table ,th,td,.topic-details-content {

  width: 37vw;

}

.topic-details-content{

  padding: 20px 0;
}


.topic-category-details {

    color: var(--brand-secondary);
}

.topic-description-details {

    margin-top: 20px;

}

.topic-aside {

    background-color: white;
    color: var(--aside-color);
    border: 1px solid var(--details-text);
    width: 22vw;
    min-width: 170px;
    position: absolute ;
    left: 56%;
    margin: 20px 0;
    
  }

  .author-link {

    text-decoration: underline;
    color: blue;
  }

  .aside-topic-name {

    padding: 15px 15px 0 15px ;
  }

  .aside-favorite-box {

    margin: 15px;
    padding: 15px 0 10px;
    border: 1px solid var(--details-text);
    text-align: center;
    
    
  }

  .aside-img img {

    width:100%;
    height:13vw;
    object-fit: cover;
  }

  .favourite-question {
    
    text-align: left;
    padding-left: 15px;
    font-size: 1em;

  }


  .favorite-button {
    
    color: white;
    background-color: var(--brand-secondary);
    border: none;
    padding: 15px 25px 20px;
    margin: 10px 0;
    font-size: 1.3em;
    cursor: pointer;
  }

  .heart-button {

    font-size: 1.5em;
    vertical-align:bottom;
  }

  .unlimited-credits {
    
    font-size: .8em;
    color:#808080;
    font-weight: 700;
  }

    .sub-topics {

      background-color: var(--bg_body);
      padding-top: 25px;
      padding-bottom: 25px;
}
  

  table ,th,td {

    min-width: 300px;
    padding: 15px;
    border: 1px solid var(--lines-color);
    border-collapse: collapse;
    font-size: 1em;
    background-color: var(--bg_default);
}


  .sub-topic-checkmark {
    color: var(--brand-secondary);
    vertical-align:middle;
    padding-right: 10px;
    padding-bottom: 4px;
    font-size: 1.5em;

  }


  .footer-details {

    
    width: 100%;
    padding-bottom: 18%;
    background-color: var(--bg_body);
  }

  .footer-details p {

    padding-left: 40%;
  }


  @media (max-width: 530px) {


    table ,th,td,.topic-details-content {

      width: 100%;
    
    }

    .topic-details, .sub-topics {

      padding-left:15px;
    
    }

    .button-text {

      display: none;
    }

    .favorite-button {
      
      padding: 0;
    }

    .topic-aside {

      position:relative;
      font-size: .8em;
      left: 15px;
      top: 15px;
      margin: auto;

    }

    .mobile-aside {

      background-color: var(--details-color);
    }

    .footer-details p {
      padding: 0;
      text-align: center;
    }

  }